<h1>Listando Administradores</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">E-mail</th>
    </tr>
  </thead>
  <tbody>
  <% @admins.each do |admin|%>
    <tr>
      <th scope="row"><%= admin.id %></th>
      <td><%= admin.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>